{% extends 'base_layout.html' %}

{% block navpills %}
{% endblock %}

{% block content %}
<div class="col-md-12 col-lg-12">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <div class="card mb-4 bg-primary text-white">
        <div class="card-header"><h2 class="card-title">Primero Inicia Sesion o Registrate</h2></div>
        <div class="card-block">
            <form class='form' method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% load add_attr %}
            {% for field in form %}
            <div class="form-group row">
                <label class="col-md-3 col-form-label">{{ field.label_tag }}</label>
                <div class="col-md-9">
                    {{ field|add_attr:'class:form-control' }}
                    {% if field.help_text %}        
                        <small class="form-text text-white">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div> 
            {% endfor %}
            <input class="btn btn-sm btn-success font-weight-bold" type="submit" value="Iniciar Sesión">
            <input type="hidden" name="next" value="{{ next }}">
            <a href="{% url 'index-app' %}" class="btn btn-sm btn-warning font-weight-bold text-white">Registrarme</a>
            <a href="{% url 'password_reset' %}" class="btn btn-sm btn-info font-weight-bold">Olvide mi contraseña</a>
            </form>
        </div>
    </div>   
</div>
{% endblock %}
{% block helpers %}
{% endblock %}