{% extends 'base_layout.html' %}

{% block navpills %}
{% if user.is_authenticated %}
    {% if user.dentist %}
        <li class="nav-item"><a class="nav-link" href="{% url 'sudentis:dentist-detail' user.dentist.pk %}"><em class="fa fa-calendar-o"></em> Ir a mi Cuenta de Dentist</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'sudentis:dentist-create' %}"><em class="fa fa-calendar-o"></em> Registrate como Dentista</a></li>
    {% endif %}    
<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Ir a mi Cuenta de Provider</a></li>
{% endif %}
<li class="nav-item"><a class="nav-link" href="{% url 'sudentis:index' %}"><em class="fa fa-calendar-o"></em> Sudentis 2.0 </a></li>
<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Sudentis Provider 1.0 </a></li>
<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Comentarios </a></li>
<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Sugerencias </a></li>
{% endblock %}
{% block content %}
    <div class="card text-white bg-info">
        <div class="card-header"><h2 class="card-title">1. Registrate como Dentista o Provedor</h2></div>
        <div class="card-block">
            <form class="form" method="post">
                {% csrf_token %}
                {% load add_attr %}
                {% if form.errors %}
                <p>error del form</p>
                <p>{{ form.errors }}</p>
                {% endif %}
                {% for field in form %}
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">{{ field.label_tag }}</label>
                    <div class="col-md-9">
                        {{ field|add_attr:'class:form-control' }}
                        {% if field.help_text %}        
                            <small class="form-text text-white">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                </div>                
                {% endfor %}
                <input class="btn btn-sm btn-primary font-weight-bold" type="submit" value="Proveedor o Dentista">
            </form>
        </div>
    </div>
{% endblock %}