{% extends 'base_layout.html' %}

{% block navpills %}
{% endblock %}

{% block content %}
<div class="card text-white bg-success">
    <div class="card-header"><h2 class="card-title">Crea tu Clinica</h2></div>
    <div class="card-block">
        <form class="form" method="post">
            {% csrf_token %}
            {% load add_attr %}
            {% if form.errors %}
            <p>{{ form.errors }}</p>
            {% endif %}
            {% for field in form %}
            <div class="form-group row">
                <label class="col-md-3 col-form-label">{{ field.label_tag }}</label>
                <div class="col-md-9">
                    {{ field|add_attr:'class:form-control' }}
                    {% if field.help_text %}        
                        <small class="form-text text-white">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>                
            {% endfor %}
            <input class="btn btn-sm btn-primary font-weight-bold" type="submit" value="Crear mi Clinica">
            <input class="btn btn-sm btn-info font-weight-bold" type="submit" value="Crear y Editar mi Clinica">
        </form>
    </div>
</div>
{% endblock %}

{% block helpers %}
{% endblock %}