{% extends 'base_layout.html' %}

{% block header %}<h1 class="float-left text-center text-md-left">{{ clinica.clinic_name }}</h1>
    {% if user.is_authenticated %}
        {% if user.clinic.clinic_user %}
            <h3 class="mb-1 text-primary">Administrador</h3>
        {% elif user.dentist.clinic_workers %}
            <h3 class="mb-1 text-success">Dentista</h3>
        {% endif %}
    {% endif %}
    <h4 class="mb-1">Sudentis 2.0</h4>
{% endblock %}

{% block navpills %}
<li class="nav-item card-block">
        <form action="{% url 'sudentis:dentist-add' clinica.clinic_ruc %}" method="post">
            {% csrf_token %}
            {% load add_attr %}
            {% for field in form_dent %}
            <h4 class="mb-1 text-white">{{ field.label_tag }}</h4>
            <div class="input-group"><span class="input-group-prepend">
                <button class="btn btn-success" type="submit" title=""><i class="fa fa-plus fa-2x"></i></button>
                {{ field|add_attr:'class:form-control' }}
            </span>
            <small class="form-text text-white">{{ field.help_text }}</small>
            </div>
            {% endfor %}
        </form>
</li>
<li class="nav-item card-block">
        <form action="{% url 'sudentis:patient-add' clinica.clinic_ruc %}" method="post">
            {% csrf_token %}
            {% load add_attr %}
            {% for field in form_pati %}
            <h4 class="mb-1 text-white">{{ field.label_tag }}</h4>
            <div class="input-group"><span class="input-group-prepend">
                <button class="btn btn-success" type="submit" title=""><i class="fa fa-plus fa-2x"></i></button>
                {{ field|add_attr:'class:form-control' }}
            </span>
            <small class="form-text text-white">{{ field.help_text }}</small>
            </div>
            {% endfor %}
        </form>
</li>
{% endblock %}

{% block content %}

    <div><h3>Estas son tus historias</h3></div>
    <div>
        {% for historia in historias %}
            <ul><a href="{% url 'sudentis:history-detail' clinica.clinic_ruc %}">{{ historia }}</a></ul>
        {% endfor %}
    </div>
{% endblock %}