{% extends 'base_layout.html' %}

{% block header %}
    <h1 class="float-left text-center text-md-left">Sudentis 2.0</h1>
    <h3 class="mb-1 text-primary">Consultorio Personal</h3>    
{% endblock %}

{% block navpills %}
{% if user.is_authenticated %}
    {% if user.clinic.clinic_user %}
        <li class="nav-item"><a class="nav-link" href="{% url 'sudentis:clinic-detail' user.clinic.pk %}"><em class="fa fa-calendar-o"></em> Ir a mi Clinica {{ user.clinic.clinic_name }} </a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'sudentis:clinic-create' %}"><em class="fa fa-calendar-o"></em> Crear mi Consultorio </a></li>
    {% endif %}
    {% if user.dentist.clinic.clinic_workers %}
        {% for clinic in user.dentist.clinic.clinic_workers %}
            {{ clinic.clinic_name }}
            <li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Crear Historia</a></li>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}

{% block content %}
    <div><h2>Lista de Historias creadas</h2></div>
    <div><h1>Listado de Pacientes Atendidos</h1></div>
{% endblock %}