{% extends 'base_layout.html' %}

{% block navpills %}
{% if user.is_authenticated %}
    {% if user.clinic.clinic_user %}
        <li class="nav-item"><a class="nav-link" href="{% url 'sudentis:clinic-detail' user.clinic.pk %}"><em class="fa fa-calendar-o"></em> Ir a mi Clinica</a></li>
    {% endif %}
<li class="nav-item"><a class="nav-link" href="{% url 'sudentis:dentist-detail' user.dentist.pk %}"><em class="fa fa-calendar-o"></em> Ir a mi Consultorio </a></li>
{% else %}
<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Conoce SUDENTIS 2.0 </a></li>
<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Sudentis Clinic </a></li>
<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Sudentis Home </a></li>
<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Sudentis Provider </a></li>
{% endif %}
{% endblock %}
{% block header %}Sudentis 2.0{% endblock %}
{% block content %}
    <h1>Dentistas Inscritos</h1>
    {% for dentist in dentist_list %}
        <h3>Usuario: {{ dentist.dentist_user.username }}</h3>
        <h3>Dentista: {{ dentist.dentist_name }}</h3>
        <h3>Dni: {{ dentist.dentist_dni }}</h3>
        <h3><a href="{% url 'sudentis:dentist-detail' dentist.dentist_dni %}">Ve a la pagina de {{ dentist.dentist_user.username }}</a></h3>
    {% endfor %}
    <h1>Clinicas Inscritas</h1>
    <h1>Pecientes Atendidos</h1>
{% endblock %}
