{% extends 'base_layout.html' %}

{% block header %}
    {% if user.is_authenticated %}
        {% if user.clinic.clinic_user %}
            <h1 class="float-left text-center text-md-left">{{ user.clinic.clinic_name }}</h1>
            <h3 class="mb-1 text-primary">Administrador</h3>
        {% elif user.dentist.clinic_workers %}
            <h1 class="float-left text-center text-md-left">{{ user.dentist.clinic_workers.clinic_name }}</h1>
            <h3 class="mb-1 text-success">Dentista</h3>
        {% endif %}
    {% endif %}
    <h4 class="mb-1">Sudentis 2.0</h4>
{% endblock %}

{% block content %}
<div class="card bg-default">
    <div class="card-header"><h2 class="card-title">Datos del Paciente</h2></div>
    <div class="card-block">
        <form class="form" method="post">
            {% csrf_token %}
            {% load add_attr %}
            {% if form.errors %}
            <p>{{ form.errors }}</p>
            {% endif %}
            {% for field in form %}
            <div class="form-group row">
                <label class="col-md-3 col-form-label">{{ field.label_tag }}</label>
                <div class="col-md-9">
                    {{ field|add_attr:'class:form-control' }}
                    {% if field.help_text %}        
                        <small class="form-text text-white">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>                
            {% endfor %}
            <input class="btn btn-sm btn-primary font-weight-bold" type="submit" value="Guardar Historia">
        </form>
    </div>
</div>

{% endblock %}