{% extends 'base_layout.html' %}

{% block content %}
    <p>Reporter: {{ object.patient_dni }}</p>
    <p>Published: {{ object.patient_name }}</p>
    <p>Date: {{ object.patient_age }}</p>

    {% if user.is_authenticated %}
        {{ user.username }}
        {{ user.dentist.clinic_workers }}
    {% endif %}


{% endblock %}